<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>About</h2>
    <div class="snowflake about">
      <div class="fader">

        <p>Pow Now was built by Greg Wyszynski as a class project during my enrollment at General Assembly. I have a passion for skiing and a serious addiction to powder skiing. My visions for this app spawned from my road trip days where I could literally get out and ski anywhere. But how was I to know what ski areas were around and what kind of snow they were receiving. Pow Now solves that issue by geoloacating the user and returning weather reports for the nearest ski areas to the uer. Comments for specific ski areas will even let the locals chime in and tell let other users know what you can't find out from weather reports.</p>

        <p>I used the technolgies in the MEAN stack environment to build Pow Now. Including MongoDB, Express, AngularJS, Node.js and Bootstrap.</p>

        <p>Enjoy the app, and get out there and surf some powder this winter!</p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>Contact Me</h2>
    <div class="snowflake contact">
      <div class="fader">

      <img class="headshot" src="/images/faceshot.jpg">

        <p>Hire me! I am in the Greater San Diego area and looking for web developer employment opportunities. Follow my links below to find out more about me and my contact info.</p>

        <h3>Greg Wyszynski</h3>

        <ul class="portfolio-links">
          <li><a target="_blank" href="https://www.linkedin.com/in/gregwyszynski85"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a target="_blank" href="http://gregorywyszynski.com/"><i class="fa fa-user"></i></a></li>
          <li><a target="_blank" href="https://github.com/gregorywyz"><i class="fa fa-github-square"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>