<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>About Me</h2>
  <div class="snowflake">
  <div class="fader">

    <p>I am an adventurer turned web developer. I have spent most of my life enjoying the great outdoors and living in some of the most beautiful places in the world. Ski Pow is a part of me and I love implementing my passions into technology. As an avid skier, current weather conditions are extremely important to me and are essential to planning my ski outings. This app will help skiers, like me, keep track of what mountains are recieving the best snow and plan accordingly</p>
    <p>Ski Pow was built as a class project durring my enrollment at General Assembly. Feel free to contact me with any job opportunities or check out my portfolio!</p>

    <h3>Contact</h3>

    <ul>
      <li>Greg Wyszynski</li>
      <li><a target="_blank" href="http://gregorywyszynski.com/">website</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/gregwyszynski85
">LinkedIn</a></li>
      <li><a target="_blank" href="https://github.com/gregorywyz">GitHub</a></li>
    </ul>

  </div>
  </div>
  </div>
</div>