<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


    <h2 class="text-center">Ski Pow Now</h2>

    <hr>

    <div ng-hide="resorts.length > 0" class="text-center">
      <form>
        <button ng-click="findResorts()" type="button" class="btn btn-success btn-lg">Locate Me</button>
        <a ng-href="/resort" ng-click="findResorts()"><button type="button" class="btn btn-info btn-lg">Locate Me 2</button></a>
        <br>
        {{currentLocation ? currentLocation.coords.latitude + ',' + currentLocation.coords.longitude : 'finding location...'}}
      </form>
      <h4>< Cool distance slider thingy here... ></h4>
    </div>

    <hr>

    <div ng-if="resorts.length > 0">
      <h2>Closest resorts to you!</h2>
      <h4>Your Location: {{currentLocation ? currentLocation.coords.latitude + ',' + currentLocation.coords.longitude : 'finding location...'}}</h4>
      <ul>
        <li ng-repeat="resort in resorts">
          {{resort.name}}<br><a ng-href="{{resort.website}}" target="_blank">website</a><br><a ng-href="resort/{{resort.id}}"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-cloud"></button></a>
        </li>
      </ul>
    </div>

  </div>
</div>