<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">

      <form>
        <div class="crosshair">
          <a ng-href="/resort?lat={{currentLocation.latitude}}&lng={{currentLocation.longitude}}" class="btn" ng-disabled="!currentLocation">POW</a>
        </div>
      </form>

      <!-- <h5>{{currentLocation ? 'Click button for ski resorts!' : "Wait for it..."}}</h5> -->

      <div>
      <h5 class="instructions" ng-if="currentLocation">Click button for ski resorts!</h5>

      <div class="geo-loader" ng-if="loading">
        <p>Retrieving you location now.</p>
        <!-- <img ng-src="images/snow-loader.gif"> -->
        <img ng-src="images/spinner.gif">
      </div>

  </div>
</div>
