<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


    <h2>Home Page</h2>

    <hr>

    <div ng-hide="resorts.length > 0" class="text-center">
      <form>
        <button ng-click="findResorts()" type="button" class="btn btn-success btn-lg">Locate Me</button>
      </form>
    </div>

    <hr>

    <div ng-if="resorts.length > 0">
      <h2>Closest resorts to you!</h2>
      <ul>
        <li ng-repeat="resort in resorts">
          {{resort.name}}<br>{{resort.website}}
        </li>
      </ul>
    </div>

  </div>
</div>