<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


    <h2>Ski Resorts Closest to You</h2>

<br><br>

    <div ng-if="resorts.length > 0">

      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Resort</th>
            <th>SnowFall</th>
            <th>Forecast</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resort in resorts">

            <td><a ng-href="resort/{{resort.id}}">{{resort.name}}</a></td>
            <td>Powder</td>
            <td><a ng-href="resort/{{resort.id}}"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-cloud"></button></a></td>

          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>