/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    html {
      font-size: @base-font-sm;
    }


    .navbar-nav>li>a {
      font-size: 1.333rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    html {
      font-size: @base-font-md;
    }

    body {
      font-size: 1rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .btn {
      font-size: 1rem;
    }

    .resort-card {
      height: 130px;
    }

    .navbar-nav>li>a {
      font-size: 0.875rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    html {
      font-size: @base-font-lg;
    }

    .resort-card {
      height: 150px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}