/* GENERAL
******************************************************************************/

/*body {
  background: url("/images/snowflake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  color: #2A1A73;
  background: #38E5E3;
  font-family: 'Titillium Web', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #A04FF4;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

h2 {
  background-color: #C12169;
  border: 5px solid #EF5DD6;
  color: #E2F557;
  padding: 20px;
  font-family: 'Nunito', 'Arial Black', Helvetica;
  font-weight: bold;
}

h3 {
  font-family: 'Nunito', 'Arial Black', Helvetica;
}

h4 {
  background-color: #C12169;
  color: #E2F557;
  font-weight: bold;
  padding: 10px;
}


/* NAVBAR
******************************************************************************/

#navbar {
  background: #A04FF4; /*purple*/
  border: none;
  border-radius: 0;
}

/*TEXT*/
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: lime; /*green*/
  font-family: 'Nunito', 'Arial Black', Helvetica;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #34D9DB;
}
.navbar-default .navbar-brand {
  font-size: 35px;
  font-family: 'Chango', Impact, Helvetica;
}

/*HAMBURGER MENU*/
.navbar-default .navbar-toggle {
  border-color: lime; /*green*/
}
.navbar-default .navbar-toggle:hover {
  background-color: #4842A6; /*dark purple*/
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: lime;
}







/* HOME - PAGE
******************************************************************************/

h5 {
  color: #2A1A73;
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Nunito', 'Arial Black', Helvetica;
}

.crosshair {
  background: #2A1A73;
  border-radius: 50%;
  width: 200px;
  height: 200px;
 /* margin: 0 auto;*/
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.crosshair:hover {
  background: #484CA7;
}
.crosshair a img {
  max-width: 200px;
  max-height: 200px;
}
.crosshair a {
  color: #E2F557;
  padding: 0;
  padding-top: 60px;
  font-size: 50px;
  height: 200px;
  font-family: 'Chango', Impact, Helvetica;
}
.crosshair a:hover {
  color: #E2F557;
}



/* RESORT INDEX - PAGE
******************************************************************************/

.resort-card-header {
  border: 5px solid lime; /*red*/
  background: lime;
  max-width: 600px;
  min-height: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.resort-card {
  border: 5px solid #EF5DD6; /*red*/
  background: #C12169;
  background: #4842A6;
  color: #ffffff;
  max-width: 600px;
  min-height: 70px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.resort-card-name {
  margin-top: 20px;
  margin-bottom: 20px;
}
.resort-card-name a {
  color: #E2F557;
  font-family: 'Nunito', 'Arial Black', Helvetica;
  font-weight: bold;
  font-size: 20px;
}
.resort-card-snow {
  margin-top: 25px;
}

a.btn.btn-primary.btn-lg.glyphicon.glyphicon-cloud.resort-card-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* RESORT SHOW - NAVBAR
******************************************************************************/

.nav-pills>li>a {
  color: #4842A6;
  font-family: 'Nunito', 'Arial Black', Helvetica;
  border-radius: 0;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #4842A6;
}
.nav-pills>li>a:hover {
  color: #fff;
  background-color: #A04FF4;
}

#forecast,
#hourly,
#three-day {
  margin-top: 30px;
  margin-bottom: 30px;
}



/* RESORT SHOW - Forecast
******************************************************************************/

#forecast-tbl {
  margin: 0 auto;
}
.forecast-tbl-td {
  border: 2px solid yellow;
  height: 150px;
  width: 150px;
  max-width: 450px;
}



/* RESORT SHOW - RADAR
******************************************************************************/

#radar {
  display: block;
  margin: 30px auto;
  width: 90%;
}




/* RESORT SHOW - 3 DAY
******************************************************************************/


