/* GENERAL
******************************************************************************/

body {
  color: @darker-purple;
  background: @teal;
  font-family: @titillium;
  font-size: 1.167rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: @purple;

  &:hover {
    text-decoration: none;
  }
}

h1 {

}

h2 {
  padding: 20px;
  font-family: @nunito;
  font-weight: bold;
  font-size: 1.667rem;
  color: @yellow;
  background-color: @red;
  border: 5px solid @pink;
}

h3 {
  font-family: @nunito;
  font-size: 2rem;
}

h4 {
  padding: 10px;
  font-weight: bold;
  color: @yellow;
  background-color: @red;
}

h5 {
  margin-top: 50px;
  font-family: @nunito;
  font-size: 1.667rem;
  color: @darker-purple;
}



/* NAVBAR - MODAL
******************************************************************************/

.modal-header {
  background-color: @darker-purple;
  color: @yellow;
  border-bottom: none;
}

.modal-content {
  background-color: @pink;
  border: 5px solid @darker-purple;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  font-family: @nunito;
  font-size: 1.167rem;
}

.btn-primary {
  color: @darker-purple;
  background-color: @green;
  border: none;

  &:hover {
    color: @red;
    background-color: @green;
  }
}

.btn-danger {
  color: @white;
  background-color: @orange;
  border: none;

  &:hover {
    color: @red;
    background-color: @orange;
  }
}

.close-modal-btn {
  float: right;
}



/* NAVBAR
******************************************************************************/

#navbar {
  background: @purple;
  border: none;
  border-radius: 0;
  z-index: 99;

  h1 {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
  }
}

.navbar-default {
  .navbar-brand {
    font-size: 35px;
   /* font-size: 3.333rem; */
    font-family: @chango;
    color: @green;
    -webkit-animation: rainbow-text 6s 2s infinite;
    -moz-animation: rainbow-text 6s 2s infinite;
    -o-animation: rainbow-text 6s 2s infinite;
    animation: rainbow-text 6s 2s infinite;

    &:hover {
      -webkit-animation: none;
      -moz-animation: none;
      -o-animation: none;
      animation: none;
      color: @blue;
    }

    &:focus {
      color: @green;
    }
  }

  .user-hello {
    margin-top: 5px;
  }

  .navbar-nav>li>a {
    color: @green;
    font-family: @nunito;
    padding: 12px 15px 10px 15px;

    &:hover {
      color: @blue;
    }

    &:focus {
      color: @blue;
    }

    .nav-glyph {
      font-size: 22px;
    }
  }

  .navbar-toggle {
    border-color: @green;

    &:hover {
      background-color: @dark-purple;
    }

    &:focus {
      background-color: @dark-purple;
    }

    .icon-bar {
      background-color: @green;
    }
  }
}

.navbar-right {
    text-align: center;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: @green;
}

.dropdown-menu {
  background-color: @purple;
  text-align: center;
}

.dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: @green;
  padding: 5px 15px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: @blue;
    background-color: @purple;
}




/* HOME - PAGE
******************************************************************************/

.instructions {
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 0;
  top: 100px;
}

.geo-loader {
  margin-top: 50px;
  opacity: 0.6;
  z-index: 20;
}

.crosshair {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background: @dark-purple;
  border-radius: 50%;
  z-index: 30;
  -webkit-box-shadow: 0 10px 0 @darker-purple;
  -moz-box-shadow: 0 10px 0 @darker-purple;
  box-shadow: 0 10px 0 @darker-purple;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;


  &:hover {
    background: @darker-purple;
    -webkit-box-shadow: 0 10px 0 @dark-purple;
    -moz-box-shadow: 0 10px 0 @dark-purple;
    box-shadow: 0 10px 0 @dark-purple;
  }

  a {
    height: 200px;
    padding: 0;
    padding-top: 60px;
    font-family: @chango;
    font-size: 50px;
    color: @yellow;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    &:hover {
      color: @yellow;
      -moz-transform: scale(0.95,0.95);
      -webkit-transform: scale(0.95,0.95);
      transform: scale(0.95,0.95);
    }

    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}



/* ABOUT - PAGE
******************************************************************************/

.snowflake {
  background-image: url("/images/snowflake.jpg");
  background-position: center center;
  border: 5px solid @red;

}
.fader {
  background-color: rgba(255,255,255,0.8);
}

.about {
  text-align: justify;

  .fader {
    padding: 30px 20px 20px;
  }
}

.contact {
  text-align: center;

  .fader {
    padding: 15px 20px;
  }

  .headshot {
    display: block;
    width: 300px;
    max-width: 75%;
    margin: 20px auto 35px;
    border: 5px solid @purple
  }

  .portfolio-links {
    text-align: center;

    li {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 50px;
    }

    a:hover {
      color: #C12169;
    }
  }
}


/* RESORT INDEX PAGE
******************************************************************************/

.resort-card {
  border: 5px solid @pink;
  background: @dark-purple;
  color: @white;
  height: 110px;
  margin-bottom: 15px;

  &:hover {
    border: 5px solid lime;
  }

  .resort-card-name {
    height: 100%;
    width: 70%;
    display: table;
    float: left;
  }

  h3 {
    display: table-cell;
    vertical-align: middle;
    color: @yellow;
    font-family: @nunito;
    font-weight: bold;
    font-size: 1.667rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .resort-card-conditions {
    height: 100%;
    width: 30%;
    display: table;
    float: right;

    ul {
      display: table-cell;
      vertical-align: middle;
      color: @dark-purple;
      background: @yellow;
      font-size: 0.917rem;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
    }

    li:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}



/* RESORT SHOW PAGE
******************************************************************************/

.nav-pills>li>a {
  color: @dark-purple;
  font-family: @nunito;
  border-radius: 0;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: @white;
  background-color: @dark-purple;
}
.nav-pills>li>a:hover {
  color: @white;
  background-color: @purple
}

#forecast,
#hourly,
#three-day,
#comments {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: @pink;
  color: @white;
}

.current-weather-img {
  margin: 0 auto;
  display: block;
}

.radar-loader {
  text-align: center;
  opacity: 0.6;

  img {
    margin-top: 50px;
  }

  p {
    margin-top: 30px;
  }
}

#radar {
  display: block;
  margin: 30px auto;
  width: 90%;
}

#comments-board {
  background-color: @yellow;
  padding: 10px;
  padding-bottom: 0;
}

.user-comment {
  color: @red;
  padding-top: 10px;
}

.options-cog {
  left: 90%;
  position: absolute;
}
