/* COLORS
******************************************************************************/

@pink: #EF5DD6;
@purple: #A04FF4;
@dark-purple: #4842A6;
@darker-purple: #2A1A73;
@teal: #38E5E3;
@blue: #34D9DB;
@white: #FFFFFF;
@red: #C12169;
@yellow: #E2F557;
@orange: #FF7600;
@green: #66FB55;

/* FONTS
******************************************************************************/

@titillium: 'Titillium Web', sans-serif;
@nunito: 'Nunito', 'Arial Black', Helvetica;
@chango: 'Chango', Impact, Helvetica;

@base: 16px;
@base-font-sm: 12px;
@base-font-md: 16px;
@base-font-lg: 20px;

/* ANIMATIONS
******************************************************************************/

@keyframes rainbow-text {
  0% {color: @green;}
  15% {color: #DFFD3A;}
  30% {color: #FED237;}
  50% {color: #FB7C25;}
  70% {color: #FED237;}
  85% {color: #DFFD3A;}
  100% {color: @green;}
}
@-webkit-keyframes rainbow-text {
  0% {color: @green;}
  15% {color: #DFFD3A;}
  30% {color: #FED237;}
  50% {color: #FB7C25;}
  70% {color: #FED237;}
  85% {color: #DFFD3A;}
  100% {color: @green;}
}
@-moz-keyframes rainbow-text {
  0% {color: @green;}
  15% {color: #DFFD3A;}
  30% {color: #FED237;}
  50% {color: #FB7C25;}
  70% {color: #FED237;}
  85% {color: #DFFD3A;}
  100% {color: @green;}
}
@-o-keyframes rainbow-text {
  0% {color: @green;}
  15% {color: #DFFD3A;}
  30% {color: #FED237;}
  50% {color: #FB7C25;}
  70% {color: #FED237;}
  85% {color: #DFFD3A;}
  100% {color: @green;}
}


