<div ng-app="PowApp">

  <div ng-controller="NavCtrl" style="background: black; padding: 10px; color: white">
    <div class="row">
      <div class="col-sm-6">
        <a href="/">Home</a> | <a href="/about">About</a>
      </div>
      <div class="col-sm-6 text-right">
        <a href="#" ng-click="showLogin()" ng-hide="currentUser">Login</a>
        <a href="#" ng-click="showSignup()" ng-hide="currentUser">Sign Up</a>
        <span ng-show="currentUser">{{currentUser.name || 'User'}}</span>
        <a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
      </div>
    </div>
  </div>

  <div class="container">

    <div id="loader" ng-if="$root.loading">
      Loading...
    </div>


    <alerts></alerts>

    <ng-view></ng-view>

  </div>

</div>