<div ng-app="PowApp">

  <nav id="navbar" class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pow Now</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="currentUser">
          <a href="#" ng-click="showLogin()">Login</a>
        </li>
        <li ng-hide="currentUser">
          <a href="#" ng-click="showSignup()">Sign Up</a>
        </li>
        <li ng-show="currentUser">
          <a href="/" ng-show="currentUser">Shred the Gnar, {{currentUser.name || 'Powder Hound'}}</a>
        </li>
        <li  ng-show="currentUser">
          <a href="#" ng-click="logout()">Logout</a>
        </li>
<!--         <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle><i class="glyphicon glyphicon-cog"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-hide="currentUser">
              <a href="#" ng-click="showLogin()">Login</a>
            </li>
            <li ng-hide="currentUser">
              <a href="#" ng-click="showSignup()">Sign Up</a>
            </li>
            <li  ng-show="currentUser">
              <a href="#" ng-click="logout()">Logout</a>
              <span ng-show="currentUser">{{currentUser.name || 'User'}}</span>
            </li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">

    <div id="loader" ng-if="$root.loading">
      Loading...
    </div>


    <alerts></alerts>

    <ng-view></ng-view>

  </div>

</div>